<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <li><%= link_to item.title, item_path(item) %></li>
    <li>$<%=item.price.to_f/100 %> </li>
    <% if user_signed_in? %>
      <form action="/line_items/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :item_id, :value => item.id) %>
        <% binding.pry %>
        <%= tag(:input, :type => "hidden", :name => :cart_id, :value => current_user.current_cart_id) %>
        <input type="submit" value="Add To Cart">
      </form>
    <% end %>
<% end %>
</ul>
